#hero {
  height: 800px;
  width: 100%;
  background-image: url("assets/images/Pakistan Flag.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 70%;
  padding: 50px;
  margin: 0 auto;
  background-color: #40a578;
  opacity: 0.7;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 4px 8px #40a578;
  position: relative;
  top: 30%;
}

#hero-content h1 {
  color: white;
  font-family: "Poetsen", sans-serif;
  font-size: 3rem;
  margin: 0;
}

#hero-content p {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}

#hero-content a {
  text-decoration: none;
  color: grey;
  background-color: white;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px #40a578;
}

#hero-content a:hover {
  text-decoration: none;
  background-color: grey;
  color: white;
}

#highlights h2 {
  font-size: 2rem;
  color: #7fc3a5;
  margin: auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#highlights {
  background: linear-gradient(180deg, white, #40a578);
  padding: 24px;
  margin: 0;
}

#destinations {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-inline-start: 0;
  width: 100%;
}

.destinations img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 2px 2px 8px white;
  margin-bottom: 10px;
}

.destinations strong {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 1300px) {
  .destinations img {
    width: 300px;
    height: 200px;
  }

  .destinations strong {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .destinations img {
    width: 400px;
    height: 300px;
  }
  #destinations {
    display: block;
  }

  #highlights li {
    padding: 10px;
  }

  #hero-content h1 {
    font-size: 2rem;
  }

  #highlights h2 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.1rem;
  }
}

@media (max-width: 720px) {
  .destinations img {
    width: 400px;
    height: 300px;
  }
  #destinations {
    display: block;
  }

  #hero-content h1 {
    font-size: 2rem;
  }

  #highlights h2 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.1rem;
  }
}

@media (max-width: 360px) {
  .destinations img {
    width: 200px;
    height: 100px;
  }
  #destinations {
    display: block;
  }

  #hero-content h1 {
    font-size: 2rem;
  }

  #highlights h2 {
    font-size: 1.5rem;
  }

  strong {
    font-size: 1.1rem;
  }
}
