body {
  background: linear-gradient(180deg, #006769, #40a578);
}

header {
  position: static;
}

li img {
  width: 20em;
  height: 20em;
  object-fit: cover;
}

main ul li h2 {
  font-size: 2rem;
  color: #7fc3a5;
  font-weight: bold;
}

main ul {
  margin: 20px auto 60px auto;
  padding-inline-start: 0;
  padding: 10px 10px;
  width: 70%;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 20px 20px;
}

main ul li {
  display: flex;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

main li:nth-of-type(3) {
  grid-column: 1 / 3;
}

main li:nth-of-type(7) {
  grid-column: 1 / 3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.explore {
  text-align: end;
}

.explore a {
  text-decoration: none;
  color: #006769;
  font-size: 1.2rem;
  font-weight: bold;
}

.explore a:hover {
  color: aqua;
}
